@import "../../index.scss";

.Register {
  @include flex(center, center, column);
  gap: 40px;
  height: 100%;
  width: 100%;

  .Form {
    @include flex(space-evenly, center, column);
    border-radius: 15px;
    width: 550px;
    height: 50%;
    box-shadow: var(--boxShadow);
    background-color: var(--color5);
    border: solid var(--color4) 1px;

    label {
      @include flex(space-around, stretch, column);
      width: 70%;
      height: 15%;
      position: relative;

      input {
        @include input;
        
      }

      .Icon {
        position: absolute;
        height: 2em;
        right: -50px;
        top: 27px;
        user-select: none;
      }
    }

    button {
      @include button();
      width: 26%;
      height: 30px;
    }
    button:hover {
      background-color: var(--color8);
      color: var(--color4);
    }
  }
}
