:root {
  font-family: Raleway, Monsterrat, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color1: #f8f9fa;
  --color2: #e9ecef;
  --color3: #dee2e6;
  --color4: #ced4da;
  --color5: #adb5bd;
  --color6: #6c757d;
  --color7: #495057;
  --color8: #343a40;
  --color9: #212529;
  --boxShadow: 0px 0px 10px rgb(129, 129, 129);

  background-color: var(--color4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "Monsterrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Monsterrat Italic";
  src: url("./fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Raleway Italic";
  src: url("./fonts/Raleway-Italic-VariableFont_wght.ttf");
}

@mixin flex($just, $align, $dir: row) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $dir;
}
@mixin input() {
  height: 27px;
  border: none;
  border-radius: 100px;
  background-color: var(--color4);
  padding: 0 5px;
  box-shadow: var(--boxShadow);
}

@mixin button() {
  font-size: 0.95em;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border-radius: 100px;
  padding: 5px;
  text-align: center;
  box-shadow: var(--boxShadow);
  border: none;
  background-color: var(--color4);
}
