@import '../../style/mixins.scss';

.Favorites {
  @include flex(space-around, center, row);
  flex: 1;

  .el1 {
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
  }

  .el2 {
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;

  }

  .el1:hover + .el2 {
    background-color: red;
  }
}
