@import "../../style/mixins.scss";

.Favorites {
  @include flex(flex-start, stretch, column);
  flex: 1;
  animation: favorites-animation 0.2s;
  padding: 15px 35px;
  position: relative;


  .container {
    @include flex(center, stretch, row);
    border: solid black;
    height: 200px;

    .left,
    .right {
      @include flex(center, center);
      width: 40px;
    }

    .center {
      @include flex(flex-start, center, row);
      border: solid blue;
      overflow: hidden;
      min-width: 550px;
      max-width: 550px;

      .pageNumber_container {
        @include flex(center, center);
        border: solid red 1px;
        margin: 0 10px;
        height: 30px;
      }
    }
  }
}

@keyframes favorites-animation {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
