.Favorites {
  flex: 1;
  border: solid black;
  animation: move;
  animation-duration: 0.2s;
}

@keyframes move {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}