@import "../../../style/mixins.scss";

.ProfileInfo {
    @include flex(center, center, column);
    gap: 20px;
    flex: 1;
    position: relative;

    h2 {
        text-align: center;
    }
    .info {
        @include flex(center, stretch, column);
        background-color: var(--color5);
        padding: 10px;
        border: var(--containerBorder);
        width: 650px;
        border-radius: 15px;
        gap: 10px;
        box-shadow: var(--boxShadow);

        h3 {
            background-color: var(--color4);
            padding: 0 7px;
            border-radius: 100px;
            box-shadow: var(--boxShadow);
            align-self: flex-start;
        }
        p {
            @extend h3;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .buttons {
        @include flex(space-between, center);
        width: 630px;
        margin-top: 20px;

        button {
            @include button;
        }
    }
}

@media screen and (max-width: 730px) {
    .ProfileInfo {

        .info {
            width: 100%;
        }

        .buttons {
            width: 100%;
        }
    }
}

@media screen and (max-width: 610px) {
    .ProfileInfo {

        .buttons {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            gap: 5px;
            align-content: center;


            :nth-child(3) {
                grid-column: span 2;
            }
        }

    }
}

@media screen and (max-width: 396px) {
    .ProfileInfo {
        .buttons {
            button {
                padding: 5px 10px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .ProfileInfo {
        .buttons {
            @include flex (center, stretch, column);

        }
    }
}

