@import "../../style/mixins.scss";

.Detail {
  @include flex(flex-start, center, column);
  flex: 1;
  padding: 15px 35px;
  user-select: none;

  

  .content {
    @include flex(space-around, center);
    width: 100%;
    padding: 15px;
    max-height: 600px;
    height: 600px;

    .imageContainer {
      @include flex(center, center);
      height: 100%;
      width: 40%;
      overflow: hidden;
      border-radius: 15px;
      cursor: pointer;
      background-color: var(--color5);

      img {
        max-width: 100%;
      }
    }

    .iconContainer {
      position: relative;
      @include flex (center, center);

      .favIcon {
        cursor: pointer; 
        height: 60px;
        width: 60px;
        color: var(--color7);
      }

      .favTooltip {
        @include toolTip;
        top: -30px;
      }
    }

   
  }
}

.loaderContainer {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

