@import '../../../../index.scss';

.Card {
  border: solid black 1px;
  width: auto;
  border-radius: 15px;
  overflow: hidden;

  img {
    height: 250px;
    display: block;
  }

  .Description {
    @include flex(center, stretch, column);
    background-color: var(--color5);

    div {
      @include flex(space-between, center, row);
      margin: 5px;
      border-radius: 100px;
      padding: 0 5px;
      background-color: var(--color4);
      box-shadow: var(--boxShadow);
    }
  }
}