@import '../../../style/mixins.scss';

.Cards {
  @include flex (center, center);
  gap: 40px;
  min-width: 100%;
  max-width: 100%;
  min-height: 700px;
  flex-wrap: wrap;

  .loaderContainer {
    @include flex (center, center);
    height: 100%;
    width: 100%;
  }
}

