@import '../../../style/mixins.scss';

.Cards {
  // @include flex (center, center);
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  place-items: center;
  // gap: 30px;
  width: 100%;
  min-height: 650px;
  flex-wrap: wrap;
  transition: transform 0.2s;
  position: relative;

  .loaderContainer {
    @include flex (center, center);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

@media screen and (max-width: 1250px) {
  .Cards {
    @include flex (center, center);
    gap: 30px;
  }
}

@media screen and (max-width: 700px) {
  .Cards {
    gap: 15px;
  }
}







