@import '../../../style/mixins.scss';

.TemperamentsPanel {
  @include flex (flex-start, stretch, column);
  flex: 1;
  padding: 10px 20px;
  background-color: var(--color5);
  border-radius: 15px;
  gap: 10px;
  box-shadow: var(--boxShadow);
  border: var(--containerBorder);
  
  .title {
    border-bottom: solid var(--color7) 2px;
    padding-bottom: 5px;
  }

  input {
    @include input;
    height: 25px;
    width: 80%;
    align-self: center;
  }

  section {
    @include flex (flex-start, stretch, column);
    overflow-y: scroll;
    gap: 5px;
    flex: 1;
    max-height: 470px;
    background-color: transparent;

    .item {
      @include button;
      position: relative;
      height: 30px;
      box-shadow: none;
      user-select: none;

      svg {
        height: 80%;
        position: absolute;
        right: 5%;
      }
    }
    .selected {
      background-color: var(--color7);
      color: var(--color4);
    }
  }
}