@import "../../../style/mixins.scss";

.FavCards {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    place-items: center;
    width: 100%;
    min-height: 650px;
    flex-wrap: wrap;
    transition: transform 0.2s;
    position: relative;

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1250px) {
    .FavCards {
        @include flex(center, center);
        gap: 30px;
    }
}

@media screen and (max-width: 700px) {
    .FavCards {
        gap: 15px;
    }
}
