@import "../../../style/mixins.scss";

.PendingDogs {
    @include flex(flex-start, stretch, column);
    gap: 20px;

    .buttons {
        @include flex (center, center);
        align-self: center;
        padding: 0px 25px;
        gap: 25px;
        height: 50px;
        border-bottom: solid var(--color7);

        button {
            @include button;
        }
    }
}
