@import '../../../style/mixins.scss';

.ExploreHeader {
  position: relative;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: solid var(--color7) 3px;

  button {
    @include button();
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 5px 10px;
    min-width: 120px;
  }
}