.createDog {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: move;
  animation-duration: 0.3s;
  flex: 1
}

@keyframes move {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}