@import '../../style/mixins.scss';

.createDog {
  @include flex(flex-start, stretch, column);
  animation: move;
  animation-duration: 0.3s;
  flex: 1;
  position: relative;
  padding: 15px 35px;

  .createDogContent {
    @include flex (space-between, stretch);
    flex: 1;
    gap: 10px;
  }
}

@keyframes move {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}