@import '../../../style/mixins.scss';

.BreedGroupsPanel {
  @include flex (flex-start, stretch, column);
  flex: 1;
  padding: 10px 20px;
  background-color: var(--color5);
  border-radius: 15px;
  border: var(--containerBorder);
  box-shadow: var(--boxShadow);
  
  .title {
    border-bottom: solid var(--color7) 2px;
    padding-bottom: 5px;
  }

  section {
    @include flex (space-around, stretch, column);
    flex: 1;

    .item {
      @include button;
      position: relative;
      height: 35px;
      box-shadow: none;

      svg {
        height: 80%;
        position: absolute;
        right: 5%;
      }
    }
    .selected {
      background-color: var(--color7);
      color: var(--color4)
    }
  }
}