@import "../../style//mixins.scss";

.Explore {
  @include flex(flex-start, center, column);
  flex: 1;
  animation: explore-animation;
  animation-duration: 0.2s;
  padding: 15px 35px;

  
}

@keyframes explore-animation {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}
